.notificationContainer {
  position: absolute;
  right: 0;
  bottom: 5rem;
  left: 0;
  gap: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  margin: auto;
  padding: 1.5rem 2rem;

  animation: animNotificationCon 1s linear;
}

.notificationSvg {
  width: 4rem;
  height: 4rem;
  fill: var( --white );
}

.error {
  background-color: #900;
}

.success {
  background-color: #3C0;
}

@keyframes animNotificationCon {
  0% {
    transform: translateY( 10rem );
  }

  100% {
    transform: translateY( 0 );
  }
}

.notificationText {
  font-size: 2rem;
  font-weight: 700;
}
