.container {
  width: 18rem;
  height: 22rem;
  padding: 2rem 1rem;

  cursor: pointer;

  border-radius: 1rem;
  background-color: rgba( 255, 255, 255, 0.1 );
}

.container:hover {
  background-color: rgba( 255, 255, 255, 0.2 );
}

.figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.artistBr {
  border-radius: 50%;
}

.albumBr {
  border-radius: 0.5rem;
}

.title {
  margin-top: 2rem;

  text-align: center;

  font-size: 1.7rem;
  font-weight: 700;
}
