@import '../../styles/variables.css';

.link {
  position: relative;

  color: var( --white-opacity );
  outline: none;

  font-size: 1.3rem;
}

.link::before {
  position: absolute;
  bottom: 0;

  width: 0;

  height: 0.1rem;

  content: '';
  transition: all 0.3s linear;

  background: var( --white-opacity );
}

.link:hover::before {
  width: 100%;

  background-color: var( --white );
}

.link:hover {
  color: var( --white );
}
