@import '../../styles/variables.css';

.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 35rem;
  min-height: 100%;
  padding: 2rem 1rem 2rem 0.5rem;

  background-color: var( --black );
}

.navContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.logOutCon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logOut {
  display: flex;
  align-items: center;

  justify-content: center;

  width: max-content;

  cursor: pointer;

  color: var( --white-opacity );

  font-size: 1.7rem;
  gap: 1rem;
}

.logOut svg {
  fill: var( --white-opacity );

  width: 2rem;
  height: 2rem;
}

.logOut:hover {
  color: var( --white );
}

.logOut:hover svg {
  fill: var( --white );
}
