@import '../../styles/variables.css';

.navWrapper {
  width: 35rem;
  min-height: 100%;
  padding: 2rem 1rem 0 0.5rem;

  background-color: var( --black );
}

.navContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 20rem;
}
